{% extends 'base.html.twig' %}

{% block title %}Hello RedesController!{% endblock %}

{% block navbar %} {{ parent() }} {% endblock %}
{% block body %}

<div class="container">

<p>Controlador Redes index </p>
<h3>En todo este espacio irá información de la dependencia Redes</h3>
    
</div>

{% endblock %}
{% block pie %} {{ parent() }} {% endblock %}